body {
	background: #ffe url('../fade.png') top repeat-x;
    color: #800;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
}


.nav {
	position: absolute;
	top: 0; bottom: 0; top: 0;
	max-width:200px;
	margin-left:5px;
	margin-top:5px;
}

.nav a {
	color: #800;
	text-decoration:none;
}

.nav a:hover{
	color: #e00;
	text-decoration:underline;
}

.box-outer {
	border:1px solid;
	background: #fff;
	zoom:100%;
	margin-bottom:.5em;
	padding-bottom:.5em;
}

.boxbar {
	padding-left:.5em;
	line-height:2em;
	position:relative;
	zoom:100%;
	background:#fca;
	color:#800;
}

.boxcontent {
	link-color: #800;
	list-style:none;
	padding:.5em;
	padding-top:.25em;
	padding-bottom:0;
	line-height:130%;
	font-size:93%;
}

.content {
	position: block;
	margin:10px auto;
	max-width: 40%;
	padding:.5em;
	padding-top:.25em;
	padding-bottom:0;
	line-height:130%;
	font-size:100%;
}

h2 {
	font-size:131%;
	font-weight:bold;
}

div {
	display:block;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}

.nopad {
	padding: 0px;
}
