body {
	background: #3E424A; /*#3E424A*/
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font: 16px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

.backbutton {
	position: fixed;
	bottom: 20px;
	left: 20px;
	
	color: #fff;
	border: 2px solid #ffffff;
	border-radius: 10px;
	background: transparent;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 13px 24px;
	transition: color .2s linear, background-color .2s linear;
}

.backbutton:hover {
	background: #DEDEDE;
	color: #000;
}